.hero {
    width: 100%;
    
    &__container {
        margin: 140px 0 30px 0;

        @media (max-width: 992px) {
            margin: 80px 0 30px 0;
        }
    }

    h1 {
        display: none;
    }

    svg {
        width: 100%;
        height: auto;
    }

    &__image {
        padding: 50px 0;
        border-top: 2px solid var(--color-text);
        border-bottom: 2px solid var(--color-text);

        @media (max-width: 992px) {
            padding: 20px 0;
        }
    }
}