@import "../../../styles/variables";

.header {
  z-index: 100;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition-duration: .5s;
  padding: 10px 0;
  background-color: var(--color-bg);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    gap: 20px;
  }

  &__logo {
    margin-right: 20px;
    z-index: 10;
    justify-self: center;
  }

  &__nav {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    .header__link {
      color: var(--color-text);
      font-size: clamp(18px, 2vw, 20px);
      font-family: "Inter", sans-serif;
      font-weight: 400;
      line-height: 24px;
      text-decoration: none;
      position: relative;

      @media (max-width: 992px) {
        font-size: 20px;
      }

      &::after {
        content: '';
        width: 0;
        height: 1px;
        background-color: var(--color-text);
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        transition-duration: .5s;
      }

      &:hover::after {
        width: 100%;
      }

      &.active::after {
        width: 100%;
      }
    }
  }

  @media (max-width: 992px) {
    &__nav {
      position: absolute;
      right: -100%;
      top: 0;
      flex-direction: column;
      gap: 25px;
      padding: 150px 0 50px 0;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      height: 100vh;
      min-height: 100vh;
      background-color: var(--color-bg);
      transition-duration: .5s;
      overflow-y: auto;

      &.active {
        right: 0;
      }
    }

    &__burger {
      min-width: 20px;
      width: 40px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      position: relative;
      z-index: 11;

      span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--color-text);
        position: relative;
        transition-duration: .5s;

        &::before,
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: var(--color-text);
          transition-duration: .5s;
        }

        &::before {
          top: -10px;
        }

        &::after {
          top: 10px;
        }
      }

      &.active {
        span {
          background-color: transparent;

          &::before {
            top: 0;
            transform: rotate(45deg);
          }

          &::after {
            top: 0;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}
