.features {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  margin-bottom: 24px;
  font-size: 32px;
}

.list {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 16px;
  list-style: none;
  padding: 0;
  flex-direction: column;
}

.item {
  padding: 12px 16px;
  border-radius: 8px;
  background: #f5f5f5;
}
